@typeparam GridItem
@inherits GridColumn<GridItem>

@code {

    public GridColumnText()
    {
        this.Filter =@<div class="input-group">
        <input type="text" class="form-control" @onchange="OnFilter" />
        </div>;
  }
}
